FLASK_APP=app.py
FLASK_ENV=development

# Path to Google Service Account credentials
GOOGLE_APPLICATION_CREDENTIALS="path/to/service_account_key.json"

# Google Sheet ID from the spreadsheet URL
SPREADSHEET_ID="your_google_spreadsheet_id"
